! Color of UI Components
XTerm*.SimpleMenu.background:   #ffffff
XTerm*.SimpleMenu.foreground:   #000000

! Only select text, not empty space around it.
XTerm*highlightSelection:       true

! The border around elements.
XTerm*.BorderColor:             #ffffff
XTerm*vt100.BorderColor:        #d0d0d0

! Fonts
XTerm*vt100.faceName:           JetBrainsMono Nerd Font:size=10:antialias=true:style=Regular
XTerm*vt100.boldFont:           JetBrainsMono Nerd Font:size=10:antialias=true:style=Bold

! Title
XTerm*title:                    Terminal

! Terminal Colors
XTerm*vt100.background:     #212121
XTerm*vt100.foreground:     #80FF80
XTerm*cursorColor:          #ffffff

! I can see a small line between box characters, this fixes it.
XTerm*forceBoxChars:        true

! This (or similar id) is required for Sixel support.
XTerm*decTerminalID:        vt382

! Color Scheme
! 0-7:  Black, Red, Green, Yellow, Blue, Purple, Cyan, White
! 8-15: Bright Black, Bright Red, ...
XTerm*color0:               #212121
XTerm*color8:               #7f7f7f
XTerm*color1:               #A00000
XTerm*color9:               #FF0000
XTerm*color2:               #00A000
XTerm*color10:              #00FF00
XTerm*color3:               #A0A000
XTerm*color11:              #FFFF00
XTerm*color4:               #0000A0
XTerm*color12:              #5C5CFF
XTerm*color5:               #A000A0
XTerm*color13:              #FF00FF
XTerm*color6:               #00A0A0
XTerm*color14:              #00FFFF
XTerm*color7:               #C0C0C0
XTerm*color15:              #ffffff
